.search_image{
    padding: 5px;
    margin-right: 10px;
 }
 .colour{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     background-color:transparent;
    //  border: none;
     max-width:135px;
     margin-left: 5px;
   
}