<div class="group-form">
    <div class="form-content">
       <div class="form">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
          
        <div class="fundoo">
          <span class="F">F</span>
          <span class="U">u</span>
          <span class="N">n</span>
          <span class="D">d</span>
          <span class="O">o</span>
          <span class="OO">o</span>
          <span class="NN">N</span>
          <span class="O">o</span>
          <span class="T">t</span>
          <span class="E">e</span>
        </div>
        <div class="form-head">Find Your Email</div>
        <h3 class="form-head2">Enter your registered email</h3>
        <div class="row">
            <p>
              <mat-form-field class="form-details" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error> Please enter valid email id</mat-error>
              </mat-form-field>
            </p>
        </div>
        <div class="message1">
            <a mat-button routerLink="/change-password">Change Password? </a>
        </div>
        <div class="btn">
            <button mat-raised-button color="primary">Next</button>
        </div>
        </form>
       </div>
    </div>
  </div>