.fundoo{
    font-family: "Sofia", sans-serif;
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-align: center;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}
.form-content {
    background-color: #ffffff;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 35px;
    margin-top: 40px;
}
.F{
    color: #0000FF;
    font-size: 150%;
}
.U{
    color: #8B0000;
    font-size: 150%;
}
.N{
    color: #FF8C00;
    font-size: 150%;
}
.D{
    color: #0000FF;
    font-size: 150%;
}
.O{
    color: #008000;
    font-size: 150%;
}
.OO{
    color: #f91616;
    font-size: 150%;
}
.NN{
    color: #190685;
    font-size: 150%;
}
.O{
    color: #008000;
    font-size: 150%;
}
.T{
    color: #ddec0d;
    font-size: 150%;
}
.E{
    color: #a00505;
    font-size: 150%;
}
.group-form{
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
}
.form {
    width: 500px;
    height: 500px;
    margin-bottom: 50px;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;   
    opacity: 1;
}
.form-head {
    font: normal normal normal 24px/37px Roboto;
    letter-spacing: 0px;
    color: black;
    text-align: center;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}

.form-head2{
    text-align: center;
}
.row{
    text-align: center;
    width: 80%;
}
.form-details{
    width: 500px; 
}
.btn{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    button{
        background-color: rgb(77, 77, 253);
        font-size: 20px;
        border-radius: 8px;
        color: #fff;
        margin-left: 400px;
    }
}