<div class="group-form">
    <div class="form-content">
       <div class="form">
        <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
          
        <div class="fundoo">
          <span class="F">F</span>
          <span class="U">u</span>
          <span class="N">n</span>
          <span class="D">d</span>
          <span class="O">o</span>
          <span class="OO">o</span>
          <span class="NN">N</span>
          <span class="O">o</span>
          <span class="T">t</span>
          <span class="E">e</span>
        </div>
        <div class="form-head">Change Your Password</div>
        <h3 class="form-head2">For your FundooNote Account</h3>
        <div class="row">
            <p>
              <mat-form-field class="form-details" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password">
                <mat-error>Please enter Password</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="form-details" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password" formControlName="cpassword">
                <mat-error>Please enter confirm password</mat-error>
              </mat-form-field>
            </p>
          </div>
          <div class="btn">
            <button mat-raised-button color="primary">Next</button>
          </div>
        </form>
       </div>
    </div>
  </div>