<div class="group-form">
    <div class="form-content">
       <div class="form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          
        <div class="fundoo">
          <span class="F">F</span>
          <span class="U">u</span>
          <span class="N">n</span>
          <span class="D">d</span>
          <span class="O">o</span>
          <span class="OO">o</span>
          <span class="NN">N</span>
          <span class="O">o</span>
          <span class="T">t</span>
          <span class="E">e</span>
        </div>
        <div class="form-head">Sign in</div>
        <h3 class="form-head2">Use your FundooNote Account</h3>
        <div class="row">
            <p>
              <mat-form-field class="form-details" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error>Enter Your Registered Email</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="form-details" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" formControlName="password">
                <mat-error>Enter Password</mat-error>
              </mat-form-field>
            </p>
          </div>
          <div class="message1">
            <a mat-button routerLink="/forgot-password">Forgot Password? </a>
          </div>
          <div class="message">
            <p>Not your computer? Use Guest mode to sign in privately.</p>
            <p class="message1">Learn more </p>
          </div>
          <div class="btn">
            <a mat-button routerLink="/register">Create Account</a>
            <button mat-raised-button color="primary">Next</button>
          </div>
        </form>
       </div>
    </div>
  </div>