input{
   margin: 10px;
   border: none;
   outline: none;
   background-color: transparent;
}
.btn button{
   // border: 1px solid red;
   position: relative;
   margin-top: 50px;
   bottom: 29px;
   right: 10px;
   background-color: transparent;
}